name: Download

on:
  workflow_dispatch:
    inputs:
      download_whd:
        description: 'Download WHD files'
        required: false
        default: 'yes'
        type: choice
        options:
          - 'yes'
          - 'no'
      download_others:
        description: 'Download other files'
        required: false
        default: 'yes'
        type: choice
        options:
          - 'yes'
          - 'no'
    
#  schedule:
#    - cron: '0 3 * * *'

env:
  TARGET_DIR: "files&scripts"

jobs:
  download-whd:
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'LizenzFass78851/WHD-Archive' && inputs.download_whd != 'no' }}
    env:
      MEGA_DIR: ./MDL
    steps:
      - &clone
        name: clone
        uses: actions/checkout@main
        with:
          clean: false

      - name: Add MEGA repository
        env:
          UBUNTU_VERSION: "24.04"
        run: |
          curl -fsSL https://mega.nz/linux/repo/xUbuntu_${{ env.UBUNTU_VERSION }}/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/mega.nz.gpg
          echo "deb [arch=amd64,arm64 signed-by=/etc/apt/keyrings/mega.nz.gpg] https://mega.nz/linux/repo/xUbuntu_${{ env.UBUNTU_VERSION }}/ ./" | sudo tee /etc/apt/sources.list.d/mega.nz.list > /dev/null

      - name: Install MEGA CMD
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt-get install -y megacmd

      - name: Download public folder from MEGA
        env:
          MEGA_LINK: "${{ secrets.MEGA_LINK }}"
        run: |
          [ ! -e "$TARGET_DIR" ] && mkdir -p "$TARGET_DIR"
          cd "$TARGET_DIR"

          [ -e "$MEGA_DIR" ]   && rm -rf "$MEGA_DIR" 
          [ ! -e "$MEGA_DIR" ] && mkdir -p "$MEGA_DIR"
          [ -e "$MEGA_DIR" ]   && mega-get "$MEGA_LINK" ./
          
      - name: Verify files exist
        run: |
          cd "$TARGET_DIR"
          if [ -z "$(find "$MEGA_DIR" -type f)" ]; then
            echo "Error: No files found in target directory!"
            exit 1
          fi

      - name: Remove files larger than 50 MB
        run: |
          cd "$TARGET_DIR"
          find "$MEGA_DIR" -type f -size +50M -exec rm -f {} \;

      - name: Remove some files
        run: |
          cd "$TARGET_DIR"
          find "$MEGA_DIR" -type f \( -name "*ESU-*" -o -name "*ESU_*" \) -exec rm -f {} \;

      - &commit
        name: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          git pull
          git add .
          git status
          git config --local user.name github-actions[bot]
          git config --local user.email github-actions[bot]@users.noreply.github.com
          git diff --cached --quiet && exit 0 || git commit -m "Update files"
          git config --local credential.helper '!x() { echo "password=$GITHUB_TOKEN"; };x'
          git push origin $GITHUB_REF_NAME

  download-others:
    runs-on: ubuntu-24.04
    needs: download-whd
    if: ${{ !cancelled() && github.repository == 'LizenzFass78851/WHD-Archive' && inputs.download_others != 'no' }}
    steps:
      - *clone

      - name: Download files
        env:
          VCPP_LINK: "${{ secrets.VCPP_LINK }}"
          VCPP_DIR: ./VCPP
        run: |
          [ ! -e "$TARGET_DIR" ] && mkdir -p "$TARGET_DIR"
          cd "$TARGET_DIR"

          [ -e "$VCPP_DIR" ]   && rm -rf "$VCPP_DIR" 
          [ ! -e "$VCPP_DIR" ] && mkdir -p "$VCPP_DIR"
          [ -e "$VCPP_DIR" ]   && \
            wget \
            -q \
            --no-directories \
            --tries=2 \
            --timeout=3 \
            --trust-server-names \
            --content-disposition \
            --progress=bar:force:noscroll \
            "$VCPP_LINK" \
            --directory-prefix="$VCPP_DIR" 

      - *commit
